@{
    ViewData["Title"] = "CONTACT INFORMATION";
}

<div class="text-center">
    <br />
    <h1 style="color:rebeccapurple">@ViewData["Title"]</h1>

    <br />
    <br />
    <h5>Forest Aveunue Tree Street No: 15 </h5>
    <h5>Utrecht - The Netherlands</h5>
    <br />
    <h5>E-Mail: eren.avar@hotmail.com</h5>
    <a href="mailto:eren.avar@hotmail.com"> <strong>Send E-Mail</strong></a>
</div>

