@model BookType


<form method="post">
    <div class="border p-3 m-5">
        <div class="row pb-3">
            <h2 class="text-primary">Add Book Type</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Bookk Type Name:</label>
            <input type="text" class="form-control" />
        </div>
        <button type="submit" class="btn btn-lg btn-primary" style="width:200px">Add</button>
        <a asp-controller="BookType" asp-action="Index" 
            class="btn btn-lg btn-primary" 
            style="width:200px">
            Back to Book Type</a>
    </div>
</form>