@model List<BookType>

<h1>Book Types</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Book Type</th>
    </tr>

    </thead>
    <tbody>
        @foreach(var bookType in Model){
            <tr>
                <td>@bookType.Id</td>
                <td>@bookType.Name</td>
            </tr>
        }
    </tbody>

</table>