@model List<BookType>

<div class="container">
    <div class="row pt-4 pb-3">
        <div>
        <h1>Book Types</h1>

        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Book Type</th>
    </tr>

    </thead>
    <tbody>
        @foreach(var bookType in Model){
            <tr>
                <td>@bookType.Id</td>
                <td>@bookType.Name</td>
            </tr>
        }
    </tbody>

</table>
<div class="row pt-3 pb-2">
    <div>
        <a asp-controller="" asp-action="" class="btn btn-lg btn-primary" type="button">Create New Bookt Type</a>
    </div>
</div>